body{
    background-color: lightblue;
    color:darkblue;
}
header{
    text-align: center;
}
/* Iframe */
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.yt_video{
    width: 50%;
    height: 400px;
}
p{
    margin-left: 25%;
    margin-right: 25%;
}
/* Gallery Page */
.images{
    display: flex;
}
.images img{
    width: 25%;
    height: 25%;
    margin: 5%;
}
/* Contact page */
input{
    display: block;
}
#button{
    display: inline;
    margin-bottom: 10px;
}
textarea{
    display: block;
    margin-bottom: 10px;
}